@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
  --primary-color: #2C1B74;
  --secondary-color: #9F8489;
  --accent1-color:#0F8AD0;
  --accent2-color: #AEC9DB;

}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h1, h2, h3 {
    font-weight: bold;
    color: var(--primary-color);
  }
  
  h1 {
    font-size: 2.5em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  h2 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--primary-color);
  }
  
  footer a {
    border-bottom: none;
  }
  
  .hero {
    height: 500px;
    background-image: url('../images/hero-img.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  .hero article {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 20px;
    max-width: 600px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
  }
  
  .hero article p {
    margin-top: 0;
  }
  
  .hero article img {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .hero section {
    background-color: #eee;
    padding: 20px;
    margin-top: 20px;
  }
  
  .hero section h2 {
    margin-top: 0;
  }
  
  .hero section img {
    width: 20%;
    margin: 10px;
  }
  
  footer {
    background-color: #eee;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
  }
  
  footer p {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  
  footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }