/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/*Define custom colors*/
:root {
  --primary-color: #215097;
  --secondary-color: rgba(255, 255, 255, 0.8);
  --accent1-color: #9F8489;
  --accent2-color: #AEC9DB;
  --text-color: #132430;
}

/*Global styles*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  color: var(--text-color);
  margin: 0;
  width: 100%;
  padding: 0;
}

/*Header styles*/
header {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
}


header img {
  height: 150px;
  margin-left: 240px
}

/* nav a {
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
} */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  font-size: 24px; /* Adjust the font size as desired */
  padding: 10px; /* Add padding to create space around the text */
  border-radius: 10px; /* Add rounded corners to create a box */
}

nav a:hover {
  text-decoration: underline;
  background-color: var(--secondary-color); /* Change background color on hover */
}

/*Hero section styles*/

.hero {
  position: relative;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.hero h1 {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  color: var(--text-color)
}

.hero article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: var(--secondary-color);
  color: white;
  padding: 50px;
  /* text-align: center; */

}
/* 
.hero article img {
  width: 200px;
  float: right;
} */

/* .hero article p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
} */


.hero article p {
  float: left;
  width: 560%;
  color: var(--text-color)

}

.hero article img {
  float: right;
  width: 40%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.hero section {
  background-color: var(--secondary-color);
  color: white;
  padding: 50px;
  text-align: center;
}

.hero section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
  color: var(--text-color)
}

.hero section p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  color: var(--text-color)
}

/*Adventures section styles*/
.adventures {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: var(--secondary-color); */
  display: grid;
  /* grid-template-columns: (auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: center;
  margin-top: 2rem;
}

.adventures h2 {
  grid-column: 1 / -1; /* This will span across all the grid columns */
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center; /* To center the h2 text */
  color: var(--text-color)
}

.adventures figure {
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
}

.adventures figcaption {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  color: var(--text-color)
}

.adventures img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border: 1px solid steelblue;
  box-shadow: 0 0 30px gray;
}

/*Footer styles*/
footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}


.sociallinks {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: right;
  width: 100%;
  /* padding: 10px 0; */
}

.sociallinks img {
  width: 50px;
  margin: 0 10px;
}