* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {     /*  names all the <a>elements that are children of the <nav> element that applies the following declarations*/
    color: white;      /* foreground of font color will be white */
    display: block;     /*  display will change from the default of inline to block*/
    padding: 20px;     /* each anchor tag will have padding of 20px */

}

h1 {
    color: steelblue;     /* foreground font color is set to steelblue */
}

img { 
    width: 150px;     /* a set width with a heght that will adjust dynamically to fit the image's aspect ration */
    height: auto;     
    border: 1px solid steelblue; /* a border shortcut that names the widdth, type of border, and color of the border */
    padding:2px; /* padding between the image and the border */
    box-shadow: 0 0 30px gray; /*a box shadow around the image border with zero offset and depth of 30px in gray*/
}

p {
    padding: 10px; /*padding between the paragragh content and the border is set to 10 pixels*/
}

main img {
    width: 150px;
    height: auto;
    border:1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}


p { padding: 0;}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
}

aside h2 {
    position: relative;
    top: 47px;
    left: 150px;
}